<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
<!--    <classPathEntry location="" />--><!--com.mysql.cj.jdbc.Driver-->
    <context id="mysqltable" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/miaosha"
                        userId="root"
                        password="123456">
        </jdbcConnection>

<!--        <javaTypeResolver >-->
<!--            <property name="forceBigDecimals" value="false" />-->
<!--        </javaTypeResolver>-->
        <!-- model: 数据库对应到java的data object类,这里指定生成的model的存放位置-->
        <javaModelGenerator targetPackage="com.promotionproject.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
        <!--指定生成映射文件（mapping）存放的位置：在application.properties中已经指定了路径-->
        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
        <!--指定生成dao类的存放位置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.promotionproject.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--生成对应表和类名-->
        <!--把user_info映射成java类的一个对象-->
<!--        <table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"-->
<!--        enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--        selectByExampleQueryId="false" ></table>-->
<!--        <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" ></table>-->
<!--        <table tableName="item" domainObjectName="ItemDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" ></table>-->
<!--        <table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" ></table>-->
<!--        <table tableName="orderRecord" domainObjectName="OrderDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" ></table>-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceInfoDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false" ></table>-->
        <table tableName="promo" domainObjectName="PromoDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false" ></table>

    </context>
</generatorConfiguration>